.board {
    position: relative;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    height: 750px;
    width: 750px;
}
.button {
    height: 270px;
    width: 270px;
    float: left;
    border: 2px;
    border-style: solid;
    border-color: white;
    opacity: .5;
}
.red {
    background-color: red;
    border-top-left-radius: 50%;
}
.blue {
    background-color: blue;
    border-top-right-radius: 50%;
}
.green {
    background-color: green;
    border-bottom-right-radius: 50%;
}
.yellow {
    background-color: yellow;
	border-bottom-left-radius: 50%; 
}
.start {
    font-weight: bold;
    width: 120px;
    height: 40px;
}
.whatRound{
    width: 80px;
    height: 20px;
}
.rotated {
	margin-top: 70px;
    -webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(45deg);  /* IE 9 */
    -o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
    transform: rotate(45deg);   Firefox 16+, IE 10+, Opera 12.10+ 
}
.bounce{
    font-family: "Comic Sans MS";
    -webkit-transition: margin-top 2s ease-in; 
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:black;
}